{% extends "layout.njk" %}

{% block head %}
<head>
    <title>Foodfy - Receitas</title>
    <link rel="stylesheet" href="/recipes.css">
</head>
{% endblock %}

{% block menu %}
<div class="menu">
    <a href="/aboutus">Sobre</a>
    <a class="recipes" href="/recipes">Receitas</a>
</div>
{% endblock %}

{% block content %} 
<div class="cards">

    {% for item in items %}
    <div class="card" index="{{item.index}}">
        <img src="{{item.image}}" alt="{{item.title}}">
        <h2>{{item.title}}</h2>
        <h3>{{item.author}}</h3>
    </div>
    {% endfor %}

    {% for item in items %}
    <div class="card" index="{{item.index}}">
        <img src="{{item.image}}" alt="{{item.title}}">
        <h2>{{item.title}}</h2>
        <h3>{{item.author}}</h3>
    </div>
    {% endfor %}
    
</div>
{% endblock %}

{% block script %}
<script src="/scripts.js"></script>
{% endblock %}