{% extends "admin/layout.njk" %}

{% block head %}
<head>
    <title>Foodfy - Editar - {{items.title}}</title>
    <link rel="stylesheet" href="/admin.css">
</head>
{% endblock %}

{% block content %}
<div class="edit">
    <h1>Editando receita</h1>
    <div class="buttons">
        <form id="form-delete" method="POST" action="/admin/recipes?_method=DELETE">

            <input 
                type="hidden" 
                name="id" 
                value="{{item.index}}"
            >

            <button type="submit">Deletar</button>

        </form>
    </div>
</div>

<form method="POST" action="/admin/recipes?_method=PUT" >

    <input 
        type="hidden" 
        name="index" 
        value="{{item.index}}"
    >

    <div class="item">
        <h3>Imagem da receita</h3>
        <input 
            type="url"
            name="image" 
            placeholder="https://"
            alt="Imagem da receita"
            value="{{item.image}}">
    </div>

    <div class="item">
        <h3>Ingredientes</h3>
        {% for ingredient in item.ingredients%}
        <input 
            type="text"
            name="ingredients"
            value="{{ingredient}}">
        {% endfor %}
    </div>

    <div class="item">
        <h3>Modo de preparo</h3>
        {% for preparation in item.preparation%}
        <input 
            type="text"
            name="´preparation"
            value="{{preparation}}">
        {% endfor %}
    </div>

    <div class="item">
        <h3>informações adicionais</h3>
        <input 
            type="text"
            name="information"
            value="{{item.information}}">
    </div>

    <button type="submit">Salvar receita</button>
</form>

<script>

    const formDelete = document.querySelector("#form-delete")
    formDelete.addEventListener("submit", function(event){
        const confirmation = confirm("Deseja Deletar?")
        if(!confirmation){
            event.preventDefault()
        }
    })

</script>

{% endblock %}