<!DOCTYPE html>
<html lang="pt_br">

    {% block head %}
    <head>
        <title>Foodfy - Admin</title>
        <link rel="stylesheet" href="/admin.css">
    </head>
    {% endblock %}

    <body>

        <header>
            <a href="/admin/recipes"><img src="/logo2.png" alt="Logo"></a>
        </header>

        <div id="content">

            {% block content %} {% endblock %}

        </div>

    </body>

</html>