{% extends "chef/layout.njk" %}

{% block head %}
<head>
    <title>Foodfy - Novo Chef</title>
    <link rel="stylesheet" href="/adminChef.css">
</head>
{% endblock %}

{% block content %}
<form action="/admin/chefs" method="POST">

    {% include "chef/fields.njk" %}

</form>
{% endblock %}
