{% extends "chef/layout.njk" %}

{% block head %}
<head>
    <title>Foodfy - Editar - {{item.name}}</title>
    <link rel="stylesheet" href="/adminChef.css">
</head>
{% endblock %}

{% block content %}
<div class="delete">
    <h1>Editando Chef</h1>
    <div class="buttons">
        <form id="form-delete" method="POST" action="/admin/chefs?_method=DELETE">

            <input 
                type="hidden" 
                name="id" 
                value="{{item.id}}"
            >

            <button type="submit">Deletar</button>

        </form>
    </div>
</div>

<div class="edit-button">
    <form method="POST" action="/admin/chefs?_method=PUT" >

        <input 
            type="hidden" 
            name="id" 
            value="{{item.id}}"
        >

        {% include "chef/fields.njk" %}
        
    </form>
</div>

<script>

    const formDelete = document.querySelector("#form-delete")
    formDelete.addEventListener("submit", function(event){
        const confirmation = confirm("Deseja Deletar?")
        if(!confirmation){
            event.preventDefault()
        }
    })

</script>

{% endblock %}