    <div class="edit">
        <div class="buttons">
            <button type="submit">Salvar Chef</button>
        </div>
    </div>
    
    <div class="item">
        <h3>Nome</h3>
        <input 
            type="text"
            name="name" 
            alt="Nome do Chef"
            placeholder="{{item.name}}">
    </div>

    <div class="item">
        <h3>Avatar</h3>
        <input 
            type="url"
            name="avatar_url" 
            alt="Avatar do Chef"
            placeholder="{{item.avatar_url}}">
    </div>