{% extends "chef/layout.njk" %}

{% block content %} 
<div class="edit">
    <h1>Gerenciar chefs</h1>
</div>

<div class="cards">
    {% for item in items %}
    <div class="card">
        <img src="{{item.avatar_url}}" alt="Image de {{item.name}}">
        <div class="card-info">
            <h2>{{item.name}}</h2>
            <a href="/admin/chefs/{{item.id}}">visualizar</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
