<!DOCTYPE html>
<html lang="pt_br">

    {% block head %}
    <head>
        <title>Foodfy - Chefs</title>
        <link rel="stylesheet" href="/adminChef.css">
    </head>
    {% endblock %}

    <body>

        <header>
            <img src="/logo2.png" alt="Logo">
            <div class="menu">
                <a href="/admin/recipes">RECEITAS</a>
                <strong><a href="/admin/chefs">CHEFS</a></strong>
            </div>
        </header>

        <div id="content">

            {% block content %} {% endblock %}

        </div>

    </body>

</html>