<!DOCTYPE html>
<html lang="pt_br">

    {% block head %}
    <head>
        <title>Foodfy - Chefs</title>
        <link rel="stylesheet" href="/adminChef.css">
    </head>
    {% endblock %}

    <body>

        <header>
            <a href="/admin/chefs"><img src="/logo2.png" alt="Logo"></a>
            {% block menu %}
            <div class="menu">
                <a href="/admin/chefs">RECEITAS</a>
                <a href="/admin/chefs">CHEFS</a>
            </div>
            {% endblock %}
        </header>

        <div id="content">

            {% block content %} {% endblock %}

        </div>

    </body>

</html>