{% extends "chef/layout.njk" %}

{% block head %}
<head>
    <title>Foodfy - Admin - {{items.name}}</title>
    <link rel="stylesheet" href="/adminChef.css">
</head>
{% endblock %}

{% block content %} 
<section id="chef">

    <div class="edit">
        <h1>Chef: {{items.name}}</h1>
        <div class="buttons">
            <a href="/admin/chefs/{{items.id}}/edit">Editar Chef</a>
        </div>
    </div>

    <div class="imageChef">
        <img src="{{items.avatar_url}}" alt="Imagem de {{items.name}}">
    </div>

    <div class="name">
        <h1>{{items.name}}</h1>
        <p>{{items.total_recipes}} receitas </p>
    </div>

    <div class="recipes">
        <h2>Receitas</h2>
    </div>

    <div class="cards-recipe">
        <ul>
        {% for recipe in recipes %}
        <div class="card-recipe">
            <img src="{{recipe.image}}" alt="">
            <div class="card-info">
                <h2>{{recipe.title}}</h2>
                <h3>{{recipe.chef_name}}</h3>
                <a href="/admin/recipes/{{recipe.id}}">visualizar</a>
            </div>
        </div>
        {% endfor %}
        </ul>
    </div>

</section>
{% endblock %}
