{% extends "admin/layout.njk" %}

{% block head %}
<head>
    <title>Foodfy - Admin - {{items.title}}</title>
    <link rel="stylesheet" href="/admin.css">
</head>
{% endblock %}

{% block content %} 
<section id="recipe">

    <div class="edit">
        <h1>Chef: {{items.name}}</h1>
        <div class="buttons">
            <a href="/admin/chefs/{{items.id}}/edit">Editar Chef</a>
        </div>
    </div>

    <img src="{{items.avatar_url}}" alt="Imagem de {{items.name}}">

    <div class="name">
        <h1>{{items.name}}</h1>
        <p>por {{items.author}}</p>
    </div>

    <div class="card-recipe">
        <h2>Receitas</h2>
        <ul>
            {% for ingredient in items.ingredients %}
            <li>- {{ingredient}}</li>
            {% endfor %}
        </ul>
    </div>

</section>
{% endblock %}
