<!DOCTYPE html>
<html lang="pt_br">

    {% block head %}
    <head>
        <title>Foodfy</title>
        <link rel="stylesheet" href="/index.css">
    </head>
    {% endblock %}

    <body>

        <div id="content">

            <header>
                <a href="/"><img src="/logo.png" alt="Logo"></a>
                {% block menu %}
                <div class="menu">
                    <a href="/aboutus">Sobre</a>
                    <a href="/recipes">Receitas</a>
                </div>
                {% endblock %}
            </header>
        

            {% block content %} {% endblock %}

        </div>

        <div class="footer">
                <h3>Todos os direitos reservados, receitas Foodfy.</h3>
        </div>

    </body>

    {% block script %} {% endblock %}

</html>